/*
 * CSS styles for the product page on the front end.
 */
.pffwc-wrapper {
	display: inline-block;
}

.pffwc-wrapper {
	width: 100%;
	margin-bottom: 10px;
}

.pffwc-item {
  display: inline-flex;
	margin-right: 2%;
	float: left;
	max-width: 16.5%;
	width: 100%;
}

p.pffwc-title {
	margin-bottom: 0;
	font-size: 1.6em;
	font-weight: normal;
}

.pffwc-item-anchor {
	display: inline-block;
	position: relative;
}

.pffwc-item-anchor:hover:before {
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	content: "";
	left: 44%;
	position: absolute;
	top: -6px;
}

.pffwc-item-tooltip {
	background: #333;
	border: #333;
	border-radius: 5px;
	color: #fff;
	font-size: inherit;
	line-height: 1.4;
	margin-top: -6px;
	padding: 5px 15px;
}
